
/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation:wght@400;600&family=Poppins:wght@300;400;600&display=swap');

/* general styles */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 18px;
    scroll-behavior: smooth;
}

/* #######################################################################
####################################################################### */

/* body styles */

body {
    background-color: #220904;
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}

/* #######################################################################
####################################################################### */

/* header styles */

#header{
    height: 90px;
    width: 100%;
    z-index: 2;
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    align-content: center;
    background-color: #220904;
    color: #e5e0dc;
}

#header-img{
    margin-left: 1rem;
    margin-right: 1rem;
    width: 80px;
}

#header-title{
    font-family: 'Edu NSW ACT Foundation', cursive;
    font-size: 1.8rem;
    text-align: center;
}

/* menu button styles */
.menu-button{
    margin-left: auto;
    padding: 10px;
    border: 0;
    background-color:  transparent;
    color: #e5e0dc;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-button span{
    font-size: 2rem;
}

/* #######################################################################
####################################################################### */

/* navbar */

#nav-bar{
    margin-left: auto;
}

#nav-bar ul{
    display: flex;
    list-style: none;
}

#nav-bar ul li a{
    font-size: 1.2rem;
    font-weight: bold;
    text-decoration: none;
    color: #e5e0dc;
    padding: 20px 15px;
    margin: 0.5rem;
    transition: background-color 0.3s ease;
}

#nav-bar ul li a:hover{
    background-color: #e5e0dc;
    color: #000000;
}

#nav-bar.active{ /* for smaller screens */
    display: block;
    position: fixed;
    top: 90px;
    left: 0;
    width: 100%;
    background-color: #220904;
    color: #220904;
}

#nav-bar.active ul{
    flex-direction: column;
    width: 100%;
}

#nav-bar.active ul li a{
    display: block;
    font-size: 1.2rem;
    font-weight: bold;
    text-decoration: none;
    color: #e5e0dc;
    padding: 20px 10px;
    margin: inherit;
    transition: background-color 0.3s ease;
}

#nav-bar.active ul li:last-child{
    border-bottom: 1px solid #e5e0dc;
}

#nav-bar.active ul li a:hover{
    background-color: #e5e0dc;
    color: #220904;
}

/* #######################################################################
####################################################################### */

/* main styles */

main{
    margin-top: 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    width: 100%;
    color: #ffffff;
}

main section{
    scroll-margin-top: 90px;
}

/* #######################################################################
####################################################################### */

/* home styles */

#home{
    width: 100%;
}

div.slogan-container{
    height: calc(100vh - 90px);
    width: 100%;
    background-image: url(images/coffe-background.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: left;
    position: relative;
    z-index: 1;
}

.slogan{
    max-width: 100%; /* Asegura que el h2 no se extienda más allá del ancho del elemento contenedor */
    position: absolute;
    top: 5%;
    padding: 0 10px;
    width: 70%;
    font-size: 3.5rem;
    color: #ffffff;
}

/* #######################################################################
####################################################################### */

/* newsletter section styles */

#newsletter{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 2rem;
    text-align: center;
    font-size: co;
}

#newsletter > p{
    width: 80%;
    font-weight: bold;
    font-size: 2.5rem;
    color: #e5e0dc;
}

#newsletter > form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 2rem;
}

#newsletter > form input{
    display: block;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    font-size: 1.2rem;
    border: 0;
    background-color: #e5e0dc;
    color: #220904;
}

#newsletter > form input[type="email"]{
    width: 50%;
    min-width: 250px;
}

#newsletter > form input[type="submit"]{
    margin-top: 2rem;
    width: 30%;
    min-width: 250px;
    font-weight: bold;
    transition: background-color 0.3s ease;
    padding: 10px 20px;
    border-radius: 5px;
}

#newsletter > form input[type="submit"]:hover{
    cursor: pointer;
    background-color: #bdbdbd;
    color: #000000;
}

/* #######################################################################
####################################################################### */

/* features section styles */

#features{
    background-color: #e5e0dc;
    width: 100%;
}

.features-list{
    border: 1px solid red;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.features-list li{
    gap: 0.2rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: #220904;
    padding: 1rem;
    border-bottom: 1px solid #220904;
}

.features-list li:last-child{
    border-bottom: 0;
}

.features-list li span{
    font-size: 4.5rem;
    margin: 2rem 2.5rem 2rem 0;
    font-weight: bold;
}

.features-list li .info h3{
    font-size: 1.5rem;
}

.features-list li .info p{
    font-weight: bold;
    display: block;
}

/* #######################################################################
####################################################################### */

/* products section styles */

#products{
    min-height: calc(100vh - 90px);
    width: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#video{
    max-width: 80%;
}

/* #######################################################################
####################################################################### */

/* pricing section styles */

#pricing{
    background-color: #e5e0dc;
    min-height: calc(100vh - 90px);
    width: 100%;
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch; /* ajusta la altura de los elementos */
    justify-content: center;
    gap: 0.5rem;
}

.product {
    flex: 1;
    max-height: 90%;
    min-width: 270px;
    border-radius: 0.5rem;
    border: 1px solid #220904;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    color: #220904;
}

.product .name{
    width: 100%;
    height: 10%;
    background-color: #220904;
    color: #e5e0dc;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    border-radius: 0.5rem 0.5rem 0  0;
}

.price{
    font-size: 2rem;
}

.info-product{
    list-style-position: inside;
    padding: 0.5rem;
    text-align: left;
    width: 80%;
}

.btn-select{
    border-radius: 0  0 0.5rem 0.5rem;
    font-size: 1rem;
    padding: 0.5rem;
    border: 0;
    font-weight: bold;
    width: 100%;
    height: 10%;
    cursor: pointer;
    background-color: #220904;
    color: #e5e0dc;
}

/* ************************************************** */
/* ************************************************** */
/* media queries */

@media (min-width:1200px) {
    /* navbar styles */
    .menu-button{
        display: none;
    }
}

/* ************************************************** */

@media (max-width:1199px){ /* para pantallas de computadoras medianas y grandes */
    /* header styles */
    #nav-bar{
        display: none;
    }
    /* newslette section styles */
    #newsletter > p{
        width: 85%;
    }
}

@media (max-width:1023px){ /* para tablets en modo horizontal y pantallas de computadoras pequeñas */
    html{
        font-size: 16px;
    }
    /* slogan styles */
    div.slogan-container{
        background-size: content;
        background-position: 60%;
    }
    .slogan{
        font-size: 2.3rem;
        width: 95%;
    }
    /* newslette section styles */
    #newsletter > p{
        width: 100%;
        font-size: 2rem;
    }
}

@media (max-width:767px){ /* para dispositivos móviles más grandes y tablets en modo vertical */
    html{
        font-size: 16px;
    }
    /* header styles */
    #header-img{
        margin-left: 1rem;
        margin-right: 0.5rem;
        width: 60px;
    }
    #header-title{
        font-size: 1.5rem;
    }
    /* home section styles */
}

@media (max-width:480px){ /*  dispositivos móviles pequeños */
    /* features section styles */
    .features-list li span{
        margin: 0 1rem 0 0;
    }
}

/* @media (max-width:280px){
    .features-list li{
        padding: 1rem 0.2rem;
    }
    .features-list li span{
        font-size: 3rem;
    }
    .features-list li .info h3{
        font-size: 1.2rem;
    }
} */